
    
{{ partial "header.html" . }}

<br><br>

<!-- HERO -->
<div class="container39">
  <img src="{{ .Params.hero_image }}" alt="church">
  
  <div class="text-overlay29">
      <h1>{{ .Params.hero_title }}</h1>
      <h2>{{ .Params.hero_text }}</h2>
  </div>
</div>

<br><br><br><br>

<h2>Upcoming Church Events</h2>

<br><br><br>

<!-- EVENTS -->
<div class="container40">
  {{ range $index, $event := .Params.events }}
  <div class="card{{ add 10 $index }}">
      <img src="{{ $event.image }}" alt="church">
      <h3>{{ $event.title }}</h3>

      <div class="event-detail">
        <p><strong>Date :</strong> {{ $event.date }}</p>
        <p><strong>Time :</strong> {{ $event.time }}</p>
        <p><strong>Place :</strong> {{ $event.place }}</p>
      </div>
  </div>
  {{ end }}
</div>

<br><br><br><br><br>

<!-- DESCRIPTION -->
<div class="container41">
  <section class="image-section29">
    <img src="{{ .Params.bottom_image }}" alt="church">
  </section>

  <section class="text-section29">
     <h4>{{ .Params.bottom_text }}</h4>
     <br>
     <h3>{{ .Params.bottom_highlight }}</h3>
  </section>
</div>

<br><br><br><br><br><br>

{{ partial "footer.html" . }}
