<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>{{ .Title }}</title>
 <link rel="stylesheet" href="/css/style.css">
</head>

<nav class="navbar">
    <div class="container">
        <a href="/Index.html">
        <img src="/images/logo.jpg" alt="church" width="93" height="92">
        </a>
    </div>
    
  
         <ul class="menu">
            <li class="Zone">
             <input type="checkbox" id="zone-toggle">
               <label for="zone-toggle" class="dropbtn">
                 <span> Zone&nbsp;&nbsp;&nbsp;&nbsp;▾</span>
               </label>
               <ul class="Zone-dropdown">
                  <li><a href="/zone/" class="Zones">Zone</a></li>
                  <li><a href="/zone/nagercoil-zone/">Nagercoil Zone</a></li>
                  <li><a href="/zone/colachel-zone/">Colachel Zone</a></li>
                  <li><a href="/zone/marthandam-zone/">Marthandam Zone</a></li>
                  <li><a href="/zone/thuckalay-zone/">Thuckalay Zone</a></li>
                  <li><a href="/zone/kuzhithurai-zone/">Kuzhithurai Zone</a></li>
                  <li><a href="/zone/bhoothapandi-zone/">Bhoothapandi Zone</a></li>
                </ul>
            </li>
    
              <li class="Department">
              <input type="checkbox" id="zone-toggle1">
               <label for="zone-toggle1" class="dropbtn">
                 <span>Department &nbsp;&nbsp;&nbsp;&nbsp;  ▾</span>
               </label>
                    <ul class="Department-dropdown">                       
                        <li><a href="/department/"class="Departments">Department</a></li>
                        <li><a href="/department/children-department/">Children Department</a></li>
                        <li><a href="/department/family-department/">Family Department</a></li>
                        <li><a href="/department/youth-department/">Youth Department</a></li>
                        <li><a href="/department/women-department/">Women Department</a></li>
                        <li><a href="/department/men-department/">Men Department</a></li>
                        <li><a href="/department/prayer-department/">Prayer Department</a></li>
                        <li><a href="/department/bible-study-department/">Bible Study epartment</a></li>
                        <li><a href="/department/elder-department/">Elder Department</a></li>
                        <li><a href="/department/worship-department/">Worship Department</a></li>
                    </ul>
                </li>
             
             <li class="Zone">
                <input type="checkbox" id="zone-toggle2">
               <label for="zone-toggle2" class="dropbtn">
                 <span>Commission &nbsp;&nbsp;&nbsp;&nbsp;  ▾</span>
               </label>
                    <ul class="Commission-dropdown">                       
                        <li><a href="/commission/" class="Commissions">Commission</a></li>
                        <li><a href="/commission/election-commission/">Election Commission</a></li>
                        <li><a href="/commission/public-relation-commission/">Public Relation Commission</a></li>
                        <li><a href="/commission/inspection-commission/">Inspection Commission</a></li>
                        </ul>
             </li>
                        <li><a href="/council/" class="Councils">Council</a></li>
</nav>


<br>
<br>


<div class="container1">
  <ul class="menu1">
    
    <li><a href="/about-us/">About Us</a></li>

    <li class="Ministries">
      <input type="checkbox" id="Zone-toggle3">
      <label for="Zone-toggle3" class="dropbtn1">
        <span>Ministries&nbsp;&nbsp;&nbsp; ▾</span>
      </label>

     <ul class="Ministries-dropdown">
            <li><a href="/ministries/" class="ministries">Ministries</a></li>
            <li><a href="/ministries/children-ministry/">Children Ministry</a></li>
            <li><a href="/ministries/family-ministry/">Family Ministry</a></li>
            <li><a href="/ministries/worship-ministry/">Worship Ministry</a></li>
            <li><a href="/ministries/adult-ministry/">Adult Ministry</a></li>
            <li><a href="/ministries/elder-ministry/">Elder Ministry</a></li>
            <li><a href="/ministries/youth-ministry/">Youth Ministry</a></li>
          </ul>
        </li>

        <li><a href="/events/" class="events">Events</a></li>
        <li><a href="/gallery/" class="gallery">Gallery</a></li>
        <li><a href="/contact-us/" class="Contact">Contact Us</a></li>
    </ul>